<div class="col-md-6">
     
     <%= form_for @wiki do |f| %>
       <div class="form-group">
         <%= f.label :title %>
         <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
       </div>
       <div class="form-group">
         <%= f.label :body %>
         <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
       </div>
       <% if current_user.role == 'admin' || current_user.role == 'premium' %>
       <div class="form-group">
         <%= f.label :private, class: 'checkbox' do %>
         <%= f.check_box :private %> Private wiki
         <% end %>
       </div>
       <div class="form-group">
         <%= f.submit "Save", class: 'btn btn-success' %>
       </div>
       <% end %>
       <% end %>
       
       <% if @wiki.private == true %>
          <p> This wiki is private </p><br>
        <div>
          <h2> Add Collaborators </h2><br>
          
               <h4><strong>Enter Email to Add Collaborator</strong></h4>
        </div>
            <%# @users.each do |user| %>
             <%= render partial: "new_collaborator", locals: {wiki: wiki} %>
            <%# end %>
       <% else %>
       <p> This wiki is public </p>
       <% end %>

 </div>
   
<div class="col-md-6">
    <h2>Preview</h2>
    <h4><%= markdown_to_html @wiki.title %></h4>
    <p><%= markdown_to_html @wiki.body %></p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    


    <h2 class="text-center"> Current Collaborators </h2><br>
      <div class="table-center">
        <table class="table table-bordered" width="125">
                <thead>
                <tr class="text-center">
                   <td><strong>User Name</strong></td>
                   <td></td>
                </tr>
                </thead>
        <%= render partial: "current_collaborators", locals: {wiki: wiki} %>
        </table>
      </div>
</div>

  
