<div class="col-md-6">
     
     <%= form_for @wiki do |f| %>
       <div class="form-group">
         <%= f.label :title %>
         <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
       </div>
       <div class="form-group">
         <%= f.label :body %>
         <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
       </div>
       <% if current_user.role == 'admin' || current_user.role == 'premium' %>
       <div class="form-group">
         <%= f.label :private, class: 'checkbox' do %>
         <%= f.check_box :private %> Private wiki
         <% end %>
       </div>
       <div class="form-group">
         <%= f.submit "Save", class: 'btn btn-success' %>
       </div>
       <% end %>
       <% end %>
       
       <% if @wiki.private == true %>
          <p> This wiki is private </p><br>
          
          <h2> Add Collaborators </h2><br>
          <table class="table table-striped table-bordered table-condensed table-hover" width="647">
            <thead>
             <tr class="text-center">
               <td><strong>User</strong></td>
               <td></td>
             </tr>
            </thead>
             <% @users.each do |user| %>
            <tr class="text-center">
              <td><%= user.name %></td>
              <td><%= link_to "Add", wiki_collaborators_path(wiki.id), class: 'btn btn-success' %></td>
            </tr>
            <% end %>
          </table>
       <% else %>
       <p> This wiki is public </p>
       <% end %>

   </div>
   <div class="col-md-6">
    <h2>Preview</h2>
    <h4><%= markdown_to_html @wiki.title %></h4>
    <p><%= markdown_to_html @wiki.body %></p>
  </div>

  
