<h2 class = "text-center">Wikis</h2><br><br>
<div class="row">
        <div class="col-md-2">
         <% if policy(Wiki.new).create? %>
          <p class="text-center"><%= link_to "New Wiki", new_wiki_path, class: 'btn btn-primary' %></p>
         <% end %>
        </div>
        <div class="col-md-8 center-table">
          <table class="table table-striped table-bordered table-condensed table-hover" width="647">
            <thead>
            <tr class="text-center">
               <td><strong>Your Wikis</strong></td>
               <td><strong>Created By</strong></td>
               <td><strong>Public/Private</strong></td>
               <td></td>
               <td></td>
            </tr>
            </thead>
            <% @wikis.each do |wiki| %>
            <tr class="text-center">
              <td><%= link_to wiki.title, wiki_path(wiki.id) %></td>
              <td><%= wiki.user.name %></td>
              <% if wiki.private == true %>
                <td> Private </td>
              <% else %>
                <td> Public </td>
              <% end %>
              <td><%= link_to "Edit", edit_wiki_path(wiki.id) %></td>
              <td><%= link_to "Delete", wiki_path(wiki.id), method: :delete %> </td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="col-md-2">
      </div>
      <br>
      












        

  






